# How to add new snippets??
# 1. You need to open Nvim
# 2. :CocCommand snippets.openSnippetsFiles
# 3. Add new snippet

# snippet NameOfSnippets "Snippets Description"
# Your Idea ${0:${VISUAL}} (VISUAL that's mean that cursor will be there) Your Idea
# endsnippet


snippet er "erb <%= %>"
<%= ${0:${VISUAL}}%>
endsnippet
